{% extends "basic.html" %}
{% load staticfiles %}



{% block content %} 
<div class="container">

  
  <div class="row">
    <div>
      
Done! <br><br>
 

Thank you! <br>
You have successfully completed the survey and submitted your answers. <br>

Your response is very important for us, for computer science, and for humanity. <br><br>

If you have any comments or questions, please email us at: yufeiy2@andrew.cmu.edu <br><br><br>

Once again, thank you for participating! <br>

    </div>
  </div>


</div>
{% endblock content %}

