{% extends "basic.html" %}
{% load staticfiles %}



{% block content %}
<div class="container">

  <form action="{%url 'index' %}" method = "post" id="index_form">
    {% csrf_token %}

    <div class="row teaser-row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Introduction</h2>
        <p>

          In this survey, we would like to evaluate different image generation methods. Given a text prompt, we would like to see which method produces an image that most closely aligns with it. <br><br>
          We would also like to know whether or not you are red-green colorblind.
        </p>
      </div>
      <!--
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">

        <div id="crossfade">
          <img src="{% static 'images/blur.jpg' %}" class="img-responsive" id="teaser1-img" data-cycle-title="Blurred Image" >
          <img src="{% static 'images/deblur.jpg' %}" class="img-responsive" id="teaser2-img" data-cycle-title="Deblurred Image" >
        </div>
        <div id="adv-custom-caption" class="center"></div>
      </div>
    -->
    </div>
<!-- 
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <img src="{% static 'teser/teser.jpg' %}" class="img-responsive">
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Examples</h2>
        <p>
          We provide an example for reference.
        </p>
	<!--    <div class="row">-->
          <div class="col-md-12">
              <img src="{% static 'rgb_example.png' %}" class="img-responsive">

            </div>
	<!-- </div>        -->
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>What to do?</h2>
        <p>
          We will show you 2 images from 2 different methods. <br>
		      You are asked to choose the <font color="red">ONE</font> that you think looks more red-green colorblind friendly. <br>
          You will do 45 rounds of selection and it takes about 10 minutes. Many thanks for your help!
          <br><br>
          For any comments or questions, please email to mhua2@andrew.cmu.edu

        </p>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="center">
        <input type="submit" class="btn btn-primary btn-raised" id="start-btn" value="Start Survey">
      </div>
    </div>

    <br>
  </form>

</div>
{% endblock content %}
